.chat-content {
    .header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;
        padding: 10px 12px;

        .right-content,
        .left-content {
            display: flex;
            align-items: center;
            column-gap: 10px;
            .image {
                height: 40px;
                width: 40px;
                padding: 4px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .name-room {
                font-size: 20px;
                font-weight: 600;
            }
        }
        .right-content {
            .icon {
                color: #0084ff;
                padding: 3px;
            }

            .icon:hover {
                cursor: pointer;
                background-color: lightgray;
                border-radius: 50%;
            }
        }
    }

    .content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    .content::-webkit-scrollbar {
        width: 5px;
        background-color: #f5f5f5;
    }

    .content::-webkit-scrollbar-thumb {
        border-radius: 2px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #999;
    }

    .content {
        display: flex;
        justify-content: flex-start;
        row-gap: 10px;
        padding: 0 10px;
        flex-direction: column-reverse;
        overflow-x: hidden !important;
        padding-top: 10px;
        padding-bottom: 10px;

        .content-user {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            align-items: flex-end;
            div {
                max-width: 60%;
                padding: 4px 6px;
                background-color: #0084ff;
                color: #fff;
                padding: 6px 10px;
                font-size: 15px;
                line-height: 20px;
                border-radius: 16px;
                p {
                    word-wrap: break-word;
                    white-space: pre-line;
                }
            }
        }
        .content-friend {
            display: flex;
            align-items: flex-end;
            .image {
                padding: 4px;
                height: 36px;
                width: 36px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .friend-chat {
                padding-bottom: 8px;
                display: flex;
                width: 80%;
                flex-direction: column;
                row-gap: 5px;
                align-items: flex-start;
                div {
                    max-width: 60%;
                    background-color: lightgray;
                    padding: 6px 10px;
                    font-size: 15px;
                    line-height: 20px;
                    border-radius: 16px;
                    p {
                        word-wrap: break-word;
                        white-space: pre-line;
                        color: #000;
                    }
                }
            }
        }
    }

    .input-mess {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 10px;
        textarea {
            width: 70%;
            border: none;
            outline: none;
            padding: 10px 16px;
            background-color: lightgray;
            border-radius: 20px;
            max-height: 80px;
            resize: none;
            font-size: 14px;
            color: #000;
        }
        .send-icon {
            text-align: center;
            padding: 4px 6px;
            color: #0084ff;
        }
        .send-icon:hover {
            cursor: pointer;
            background-color: lightgray;
            border-radius: 50%;
        }
    }
}
